@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
/* video {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
} */

body {
  margin: 0;
  padding: 0;
  background: url(pexels-nothing-ahead-3230179.jpg);
  background-size: cover;
}
.container {
  font-family: 'Zen Dots', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  height: 350px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: #fff;
  padding-top: 25px;
  padding-bottom: 30px;
}

.login h3 {
  letter-spacing: 4px;
  font-size: 30px;
}

input {
  width: 250px;
  margin-top: 30px;
  background: transparent;
  outline: none;
  padding: 20px;
  font-size: 15px;
  border-radius: 15px;
  box-shadow: 0 0 px #fff;
  transition: box-shadow 0.5s ease;
}

.btn {
  padding: 5px 20px;
  margin-top: 30px;
  background: transparent;
  border-radius: 30px;
  box-shadow: 0 0 4px #fff;
  cursor: pointer;
}

input[placeholder]:focus {
  color: #fff;
}

input::placeholder {
  color: silver;
  opacity: 1;
}

input:focus,
.btn:hover {
  box-shadow: 0 0 10px #fff;
}
